<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add User </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/addUser" method="post">
          <input name="name" type="text" class="ghost-input" placeholder="name" required>
          <input name="surname" type="text" class="ghost-input" placeholder="surname" required>
          <input name="number" type="text" class="ghost-input" placeholder="number" required>
          <input type="submit" class="ghost-button" value="">
        </form>
      </fieldset>
    </div>
  </body>
</html>
